header.l--header
  h1 コミックマーケットを中心に活動する創作小説の同人サークル「HELLO-SUISEI」
  p.l--header-logo
    a(href='http://hellosuisei.com/') HELLO-SUISEI
    //- a(href='http://hellosuisei.com/')
      //- img(src='/images/p_logo.gif')