doctype html
html(lang="jp")
  include ../inc/head
  body
    div.l--wrap
      include ../inc/header
      article.l--content
        section.m--box-works
          header
            h1 WEB2.1
          :markdown
            ## 第一章　start up

            　顔の周りを這い回る生暖かい感触で、サイトー・リョーは浅い眠りから醒めた。

            　顔面の不快感は、夜明けまで働かされていた頭脳が見せた悪夢ではない。リョーが突っ伏して寝ていたデスクの上に、犯人がちょこんと座っている。

            「にー。にゃー」

            　黄金色の双眸がリョーを恨めしそうに睨んでいる。艶やかな毛並みの黒猫だ。名をダイアナという。

            　リョーはダイアナの頭を軽く小突いた。ダイアナは不満そうに「にー」と空腹を訴えた。

            「今は……九時か。割りといい時間だな」

            　寝癖がついた前髪を手櫛で直しながら、背後の作業台の上を見つめる。

            　二メートルほどある強化プラスチック製の台には、ヒトが横たわっていた。

            　女性だ。服は着ておらず、その裸体をさらけ出している。両手と両足には何本ものコードが繋がれ、そのコードの先は部屋の至る所に置かれた筐体に向かっている。豊かな乳房は不自然に左右に垂れている。なぜなら、乳房の下の腹部がぱっくりと口を開いていたからだ。胸の間から膀胱の辺りまで、機械で焼き切られたかのようなキレイな切断面を見せて、腹部が割れていた。

            「……こいつのメンテは、ダビデが来たあとでもいいか」

            　今日のスケジュールを頭の中で洗い出し、まず最優先で朝食を取らねばならないことに気づいた。

            　キッチンのあるリビングに向かうと、朝食の気配を察知してダイアナがうれしそうに鳴いた。

            　リビングはテーブルと四つの椅子、壁掛けテレビがあるだけ。至ってシンプルだ。唯一、静止している三人のメイドだけが異様な存在であった。

            　アイランド式キッチンの向こう側、テーブルの傍、リビングの入口に三人のメイドが立っていた。三人が三人、全く同じ背格好をしている。

            「エヴァ起動。モーニング、一人」

            　リョーの言葉に連動して、三人のメイドの瞳に光が宿った。

            「おはようございます。ご用意するのは通常のもので問題ないでしょうか？」

            「問題ない」

            「かしこまりました。すぐに準備いたします」

            　キッチンに立っていたエヴァが抑揚のない声で、リョーに応答する。

            　冷蔵庫から卵、野菜を取り出し、コンロの下の収納棚からきれいに整列されたフライパンを取り出す。コンロに火をつける。

            　まるで決まりきった動きかのように、システマチックに朝食が準備されていく。

            　エヴァの邪魔にならないように、傍らでリョーはネコ用の皿にキャットフードを盛っている。ダイアナはリョーの足首にまとわりついているだけで、まだ食べ始める気配がない。

            　トースターの音が響く。

            「マスター。朝食のご準備ができました」

            　テーブルの上には、トースター、スクランブルエッグ、サラダ、ホットコーヒー。

            　リョーが食事をはじめると、ダイアナもキャットフードに口をつけた。

            　フォークと食器がぶつかる音と、キャットフードを砕く音だけが響く。エヴァはリョーの後ろでじっと待機している。

            　リョーにとっては、いつもの朝食風景。その無機質さは、傍から見ると異様なものであろう。

            「エヴァ。日課、スケジュール」

            「本日は十五分後、午前九時半にダビデ様の訪問がございます。それ以外の予定はございませんが、ブラウン様の愛玩ロボットの納期が明日に迫っております」

            「ブラウンの仕事は終わってる」

            「では、こちらのスケジュールを終了し……」

            「明日のブラウンの仕事をクローズ」

            「かしこまりました」

            　一人と一匹が食事を終えるタイミングで、インターフォンが鳴る。

            「エヴァ、来客。対応」

            「了解です。マスター」

            　入口付近で待機していたエヴァが玄関に向かう。

            　すぐにスーツ姿の男をつれてエヴァが戻ってくる。

            　一八〇センチを超える長身。短い金髪を逆立てたサラリーマン――ダビデだ。急いでいたらしく、少し息が上がっている。光石重工の社員証も、胸ポケットからこぼれていた。

            「朝から悪いな。時間の都合がつかなかったんだ」

            「別に構わないですよ。フリーランスといっても生活リズムは大切にしているんで、この時間にはいつも起きてますよ」

            「そうか。しかし、今回はスケジュールが押してしまってすまなかった」

            　ダビデは深々と頭を下げた。

            「立ちっぱなしなのも何なので、かけてください」

            　ダビデは軽く会釈をして、薦められたリョーの向かい側の椅子に腰掛けた。

            　ダビデはカバンから電子ペーパーを取り出し、スケジュール表を表示させた。

            「早速なんだが、進捗の確認をしたい。


            　仕事の話が終わると、二人の間に沈黙が流れた。テレビのニュースがよく響いた。
            
            「……またしても機械人形の自殺がありました。昨日未明、東京都千代田区表参道の敷地内で、機械人形のロゼッタさんが倒れているのが見つかり、病院に運ばれましたがまもなく死亡しました。マンションの高層階から転落したものとみられ、警視庁は自殺とみて調査をしています」
            
            「……最近、機械人形の自殺が増えてきているらしい。うちの工場にも調査が入ったよ。プログラムに致命的なバグがあるんじゃないかって」
            
            「たしかに……、自殺は
            
            　




      include ../inc/footer
    include ../inc/script