@charset "UTF-8";

/*
# module topic

セクションのボックス
*/
.m--box-topic {
  margin: 40px 30px 0;

  &:first-child {
    margin-top: 0;
  }

  & > header {
    margin-bottom: 15px;

    & > h1 {
      font-size: fz(14,16);
      font-weight: 600;
    }
  }
}

/*
# module issue
 
トップの同人誌ボックス
*/
.m--box-issue {
  figure {
    @include clearfix;

    img {
      @include box-shadow(rgba(0,0,0,0.8) 0 0 3px);
      float: left;
      margin: 3px;
      max-width: 140px;
      max-height: 200px;
    }
    figcaption {
      margin-left: 155px;
      line-height: 1.5;

      h2 {
        margin-bottom: 5px;
        font-size: fz(14,16);
        font-weight: 600;
      }

      ul {
        li {
          padding: 5px 0;
          font-size: fz(14,12);
        }
      }

      dl {
        @include clearfix;

        dt {
          float: left;
        }
        dd {
          margin-left: 5em;
        }
      }
    }
  }
}
/*
# module issue
 
トップの同人誌ボックス
*/
.m--box-works {
  margin: 0 40px;

  h1 {
    margin-bottom: 15px;
    font-size: fz(14,24);
    text-align: center;
  }
  h2 {
    margin-bottom: 15px;
    font-size: fz(14,22);
  }
  p {
    font-size: fz(14,16);
    line-height: 2;
  }
}
