.m--list-rule {

  & > li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-top: 1px solid #ccc;
    }
  }
}
.m--list-date {
  & > li {
    & > dl {
      @include clearfix;

      & > dt {
        float: left;
      }
      & > dd {
        margin-left: 7em;
      }
    }
  }
}
.m--list-issue {
  position: relative;
  width: 920px;
  overflow: hidden;

  .m--list-issue-inner {
    @include clearfix;
    width: 9999px;
  }

  .m--box-issue {
    float: left;
    width: 420px;
    margin-left: 60px;

    &:first-child {
      margin-left: 0;
    }
  }
}
.m--list-issue--ctrl {
  li {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 87px;
    height: 200px;
    background: url("/images/b_slide_right.png");
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background: url("/images/b_slide_right_on.png");
    }

    &:first-child {
      right: auto;
      left: 3px;
      background: url("/images/b_slide_left.png");

      &:hover {
        background: url("/images/b_slide_left_on.png");
      }
    }
  }
}
.m--list-pager--thumb {
  margin-top: 20px;
  text-align: center;
  letter-spacing: -0.4em;

  li {
    @include inline-block;
    margin-left: 10px;
    font-size: 0;
    border: 1px solid #ccc;
    letter-spacing: normal;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &.js-current {
      border: 1px solid #18459E;
    }
  }
}